<%- include('header') %>
<div id="root" class="container loader">
    <div class="home">
        <h1>Your daily work satisfaction tracker.</h1>
    
        <div class="section">
            <div class="explainer">
                <h2>Keep track of your mood at the end of the work day.</h2>
                <p>
                    Use Satis Tracker on the hour you leave work to set your Mood Report for the day.
                    <br />
                    <br />Gain insight into your work satisfaction with a monthly calendar report.
                    <br />
                    <br />Earn Mood Reporting streaks along the way.
                </p>
    
                <img class="streak_screenshot" src="Screenshots/Streak_Notifier.png" alt="Reporting Streak" />
            </div>
            <img class="small_screenshot" src="Screenshots/Dashboard_Small.png" alt="Dashboard" />
        </div>
    
        <h2>Come back before your Work End Hour expires.</h2>
        <div class="section">
            <p>
                Generate realistic work satisfaction statistics by only posting your Mood Report right after the
                work day is over.
            </p>
            <img class="large_screenshot" src="Screenshots/Dashboard_Large.png" alt="Dashboard with mood report" />
        </div>
    </div>
</div>
<%- include('footer') %>